<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>arrayIdolos</key>
		<array>
			<dict>
				<key>numeroCamisa</key>
				<string>n/a</string>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>3</integer>
				<key>imageGrande</key>
				<string>baltazarg.png</string>
				<key>imagePequena</key>
				<string>baltazarp.png</string>
				<key>nomeIdolo</key>
				<string>Oswaldo Silva</string>
				<key>apelidoIdolo</key>
				<string>Baltazar</string>
				<key>idadeIdolo</key>
				<string>14/01/1926</string>
				<key>alturaIdolo</key>
				<string>n/a</string>
				<key>alfaTime</key>
				<string>1946-1957</string>
				<key>jogosIdolo</key>
				<string>401</string>
				<key>golsIdolo</key>
				<string>266</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Atacante</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>sim</string>
			</dict>
			<dict>
				<key>imageGrande</key>
				<string>basiliog.png</string>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>2</integer>
				<key>numeroCamisa</key>
				<string>08</string>
				<key>imagePequena</key>
				<string>basiliop.png</string>
				<key>nomeIdolo</key>
				<string>João Roberto Basílio</string>
				<key>apelidoIdolo</key>
				<string>Basílio</string>
				<key>alfaTime</key>
				<string>1975-1981</string>
				<key>idadeIdolo</key>
				<string>04/02/1949</string>
				<key>alturaIdolo</key>
				<string>n/a</string>
				<key>jogosIdolo</key>
				<string>253</string>
				<key>golsIdolo</key>
				<string>29</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>meioCampo</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>sim</string>
				<key>MDIdolo</key>
				<string>sim</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>sim</string>
			</dict>
			<dict>
				<key>paulista</key>
				<integer>4</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>mundial</key>
				<integer>0</integer>
				<key>numeroCamisa</key>
				<string>10</string>
				<key>imageGrande</key>
				<string>birobirog.png</string>
				<key>imagePequena</key>
				<string>birobirop.png</string>
				<key>nomeIdolo</key>
				<string>Antônio José da Silva Filho</string>
				<key>idadeIdolo</key>
				<string>18/05/1959</string>
				<key>alturaIdolo</key>
				<string>n/a</string>
				<key>alfaTime</key>
				<string>1978-1988</string>
				<key>jogosIdolo</key>
				<string>589</string>
				<key>apelidoIdolo</key>
				<string>Biro-Biro</string>
				<key>golsIdolo</key>
				<string>75</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>meioCampo</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>sim</string>
				<key>MCIdolo</key>
				<string>sim</string>
				<key>MDIdolo</key>
				<string>sim</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>paulista</key>
				<integer>2</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>mundial</key>
				<integer>0</integer>
				<key>imageGrande</key>
				<string>casagrandeg.png</string>
				<key>numeroCamisa</key>
				<string>09</string>
				<key>imagePequena</key>
				<string>casagrandep.png</string>
				<key>nomeIdolo</key>
				<string>Walter Casagrande Júnior</string>
				<key>apelidoIdolo</key>
				<string>Casagrande</string>
				<key>idadeIdolo</key>
				<string>15/04/1963</string>
				<key>alfaTime</key>
				<string>1980-1983/1985-1986/1994</string>
				<key>alturaIdolo</key>
				<string>1,91</string>
				<key>jogosIdolo</key>
				<string>256</string>
				<key>golsIdolo</key>
				<string>103</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>atacante</string>
				<key>peIdolo</key>
				<string>canhoto</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>sim</string>
			</dict>
			<dict>
				<key>paulista</key>
				<integer>3</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>mundial</key>
				<integer>0</integer>
				<key>numeroCamisa</key>
				<string>n/a</string>
				<key>imageGrande</key>
				<string>claudiog.png</string>
				<key>imagePequena</key>
				<string>claudiop.png</string>
				<key>nomeIdolo</key>
				<string>Cláudio Christóvam de Pinho</string>
				<key>apelidoIdolo</key>
				<string>Cláudio</string>
				<key>idadeIdolo</key>
				<string>18/06/1922</string>
				<key>alfaTime</key>
				<string>1944-1958</string>
				<key>alturaIdolo</key>
				<string>1,62</string>
				<key>jogosIdolo</key>
				<string>554</string>
				<key>golsIdolo</key>
				<string>306</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>MeioCampo</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>sim</string>
				<key>MDIdolo</key>
				<string>sim</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>paulista</key>
				<integer>0</integer>
				<key>mundial</key>
				<integer>1</integer>
				<key>brasileiro</key>
				<integer>1</integer>
				<key>copaBrasil</key>
				<integer>1</integer>
				<key>numeroCamisa</key>
				<string>01</string>
				<key>nomeIdolo</key>
				<string>Nelson de Jesus Silva</string>
				<key>imageGrande</key>
				<string>didag.png</string>
				<key>imagePequena</key>
				<string>didap.png</string>
				<key>idadeIdolo</key>
				<string>07/10/1973</string>
				<key>alfaTime</key>
				<string>1999-2000-2001</string>
				<key>apelidoIdolo</key>
				<string>Dida</string>
				<key>alturaIdolo</key>
				<string>1,95</string>
				<key>jogosIdolo</key>
				<string>94</string>
				<key>golsIdolo</key>
				<string>0</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Goleiro</string>
				<key>peIdolo</key>
				<string>canhoto</string>
				<key>GLIdolo</key>
				<string>sim</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>paulista</key>
				<integer>1</integer>
				<key>mundial</key>
				<integer>1</integer>
				<key>brasileiro</key>
				<integer>3</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>imageGrande</key>
				<string>dineig.png</string>
				<key>numeroCamisa</key>
				<string>18</string>
				<key>imagePequena</key>
				<string>dineip.png</string>
				<key>nomeIdolo</key>
				<string>Claudinei Alexandre Pires</string>
				<key>apelidoIdolo</key>
				<string>Dinei</string>
				<key>idadeIdolo</key>
				<string>10/09/1971</string>
				<key>alturaIdolo</key>
				<string>1,88</string>
				<key>alfaTime</key>
				<string>1990-1992/1998-2001</string>
				<key>jogosIdolo</key>
				<string>194</string>
				<key>golsIdolo</key>
				<string>34</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Atacante</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>sim</string>
			</dict>
			<dict>
				<key>paulista</key>
				<integer>1</integer>
				<key>mundial</key>
				<integer>1</integer>
				<key>brasileiro</key>
				<integer>2</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>imageGrande</key>
				<string>edilsong.png</string>
				<key>numeroCamisa</key>
				<string>10</string>
				<key>imagePequena</key>
				<string>edilsonp.png</string>
				<key>nomeIdolo</key>
				<string>Edílson da Silva Ferreira</string>
				<key>apelidoIdolo</key>
				<string>Edílson</string>
				<key>idadeIdolo</key>
				<string>17/09/1971</string>
				<key>alfaTime</key>
				<string>1998-2000</string>
				<key>alturaIdolo</key>
				<string>1,68</string>
				<key>jogosIdolo</key>
				<string>164</string>
				<key>golsIdolo</key>
				<string>55</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Atacante</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>sim</string>
			</dict>
			<dict>
				<key>paulista</key>
				<integer>1</integer>
				<key>mundial</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>1</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>nomeIdolo</key>
				<string>Luiz Felipe Ventura dos Santos </string>
				<key>numeroCamisa</key>
				<string>01</string>
				<key>imageGrande</key>
				<string>felipeg.png</string>
				<key>imagePequena</key>
				<string>felipep.png</string>
				<key>idadeIdolo</key>
				<string>22/02/84</string>
				<key>apelidoIdolo</key>
				<string>Felipe</string>
				<key>alfaTime</key>
				<string>2007-Presente</string>
				<key>alturaIdolo</key>
				<string>1,90</string>
				<key>jogosIdolo</key>
				<string>165</string>
				<key>golsIdolo</key>
				<string>0</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Goleiro</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>sim</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>1</integer>
				<key>paulista</key>
				<integer>1</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>nomeIdolo</key>
				<string>Carlos Alberto Gamarra Pavón</string>
				<key>numeroCamisa</key>
				<string>04</string>
				<key>imageGrande</key>
				<string>gamarrag.png</string>
				<key>imagePequena</key>
				<string>gamarrap.png</string>
				<key>idadeIdolo</key>
				<string>17/02/1971</string>
				<key>apelidoIdolo</key>
				<string>Gamarra</string>
				<key>alfaTime</key>
				<string>1998-1999</string>
				<key>alturaIdolo</key>
				<string>1,81</string>
				<key>jogosIdolo</key>
				<string>80</string>
				<key>golsIdolo</key>
				<string>7</string>
				<key>nacionalidadeIdolo</key>
				<string>paraguai.png</string>
				<key>posicaoIdolo</key>
				<string>Zagueiro</string>
				<key>peIdolo</key>
				<string>Destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>sim</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>paulista</key>
				<integer>0</integer>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>imageGrande</key>
				<string>garrinchag.png</string>
				<key>numeroCamisa</key>
				<string>7</string>
				<key>imagePequena</key>
				<string>garrinchap.png</string>
				<key>nomeIdolo</key>
				<string>Manuel Francisco dos Santos</string>
				<key>apelidoIdolo</key>
				<string>Garrincha</string>
				<key>idadeIdolo</key>
				<string>28/10/1983</string>
				<key>alturaIdolo</key>
				<string>n/a</string>
				<key>alfaTime</key>
				<string>1966</string>
				<key>jogosIdolo</key>
				<string>13</string>
				<key>golsIdolo</key>
				<string>2</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>meiaCampoDireita</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>sim</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>sim</string>
				<key>MDIdolo</key>
				<string>sim</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>paulista</key>
				<integer>3</integer>
				<key>mundial</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>imagePequena</key>
				<string>gilmarp.png</string>
				<key>imageGrande</key>
				<string>gilmarg.png</string>
				<key>numeroCamisa</key>
				<string>01</string>
				<key>nomeIdolo</key>
				<string>Gilmar dos Santos Neves</string>
				<key>alfaTime</key>
				<string>1951-1961</string>
				<key>apelidoIdolo</key>
				<string>Gilmar</string>
				<key>idadeIdolo</key>
				<string>22/08/1930</string>
				<key>alturaIdolo</key>
				<string>1,81</string>
				<key>jogosIdolo</key>
				<string>486</string>
				<key>golsIdolo</key>
				<string>0</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Goleiro</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>sim</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>4</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>imageGrande</key>
				<string>graneg.png</string>
				<key>numeroCamisa</key>
				<string>n/a</string>
				<key>imagePequena</key>
				<string>granep.png</string>
				<key>nomeIdolo</key>
				<string>Pedro Grané</string>
				<key>idadeIdolo</key>
				<string>10/11/1899</string>
				<key>alturaIdolo</key>
				<string>n/a</string>
				<key>alfaTime</key>
				<string>1924-1930</string>
				<key>apelidoIdolo</key>
				<string>Grané</string>
				<key>jogosIdolo</key>
				<string>179</string>
				<key>golsIdolo</key>
				<string>50</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Lateral-Direito</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>sim</string>
				<key>LDIdolo</key>
				<string>sim</string>
				<key>LEIdolo</key>
				<string>sim</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>3</integer>
				<key>numeroCamisa</key>
				<string>04</string>
				<key>nomeIdolo</key>
				<string>Idário Sanches Peinado</string>
				<key>imageGrande</key>
				<string>idariog.png</string>
				<key>imagePequena</key>
				<string>idariop.png</string>
				<key>idadeIdolo</key>
				<string>07/05/1927</string>
				<key>apelidoIdolo</key>
				<string>Idário</string>
				<key>alturaIdolo</key>
				<string>n/a</string>
				<key>alfaTime</key>
				<string>1949-1959</string>
				<key>jogosIdolo</key>
				<string>475</string>
				<key>golsIdolo</key>
				<string>6</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Lateral-Direito</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>sim</string>
				<key>LEIdolo</key>
				<string>sim</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>3</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>numeroCamisa</key>
				<string>08</string>
				<key>imageGrande</key>
				<string>luizinhog.png</string>
				<key>imagePequena</key>
				<string>luizinhop.png</string>
				<key>nomeIdolo</key>
				<string>Luiz Trochillo</string>
				<key>idadeIdolo</key>
				<string>07/03/1930</string>
				<key>apelidoIdolo</key>
				<string>Luizinho</string>
				<key>alfaTime</key>
				<string>1949-1967</string>
				<key>alturaIdolo</key>
				<string>1,67</string>
				<key>jogosIdolo</key>
				<string>603</string>
				<key>golsIdolo</key>
				<string>175</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>meioCampo</string>
				<key>peIdolo</key>
				<string>canhoto</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>sim</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>1</integer>
				<key>brasileiro</key>
				<integer>2</integer>
				<key>paulista</key>
				<integer>4</integer>
				<key>copaBrasil</key>
				<integer>1</integer>
				<key>imageGrande</key>
				<string>marcelinhog.png</string>
				<key>numeroCamisa</key>
				<string>07</string>
				<key>imagePequena</key>
				<string>marcelinhop.png</string>
				<key>nomeIdolo</key>
				<string>Marcelo Pereira Surcin</string>
				<key>idadeIdolo</key>
				<string>01/02/1971</string>
				<key>apelidoIdolo</key>
				<string>Marcelinho Carioca</string>
				<key>alturaIdolo</key>
				<string>1,67</string>
				<key>alfaTime</key>
				<string>1994-2001/2006-2007</string>
				<key>jogosIdolo</key>
				<string>427</string>
				<key>golsIdolo</key>
				<string>206</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>meioCampo</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>sim</string>
				<key>MDIdolo</key>
				<string>sim</string>
				<key>MEIdolo</key>
				<string>sim</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>1</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>1</integer>
				<key>numeroCamisa</key>
				<string>10</string>
				<key>imageGrande</key>
				<string>netog.png</string>
				<key>imagePequena</key>
				<string>netop.png</string>
				<key>nomeIdolo</key>
				<string>José Ferreira Neto</string>
				<key>idadeIdolo</key>
				<string>09/09/1966</string>
				<key>apelidoIdolo</key>
				<string>Neto</string>
				<key>alfaTime</key>
				<string>1989-1993/1996-1997</string>
				<key>alturaIdolo</key>
				<string>1,74</string>
				<key>jogosIdolo</key>
				<string>227</string>
				<key>golsIdolo</key>
				<string>80</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>meioCampo</string>
				<key>peIdolo</key>
				<string>canhoto</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>sim</string>
				<key>MDIdolo</key>
				<string>sim</string>
				<key>MEIdolo</key>
				<string>sim</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>7</integer>
				<key>imageGrande</key>
				<string>necog.png</string>
				<key>numeroCamisa</key>
				<string>n/a</string>
				<key>imagePequena</key>
				<string>necop.png</string>
				<key>nomeIdolo</key>
				<string>Manuel Nunes</string>
				<key>apelidoIdolo</key>
				<string>Neco</string>
				<key>idadeIdolo</key>
				<string>07/03/1895</string>
				<key>alfaTime</key>
				<string>1911-1930</string>
				<key>alturaIdolo</key>
				<string>n/a</string>
				<key>jogosIdolo</key>
				<string>296</string>
				<key>golsIdolo</key>
				<string>235</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>atacante</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>sim</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>4</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>numeroCamisa</key>
				<string>04</string>
				<key>imageGrande</key>
				<string>wladimirg.png</string>
				<key>imagePequena</key>
				<string>wladimirp.png</string>
				<key>nomeIdolo</key>
				<string>Wladimir Rodrigues dos Santos</string>
				<key>idadeIdolo</key>
				<string>29/08/1954</string>
				<key>alturaIdolo</key>
				<string>1,74</string>
				<key>alfaTime</key>
				<string>1972-1985</string>
				<key>apelidoIdolo</key>
				<string>Wladimir</string>
				<key>jogosIdolo</key>
				<string>806</string>
				<key>golsIdolo</key>
				<string>32</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Lateral-Esquerdo</string>
				<key>peIdolo</key>
				<string>canhoto</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>sim</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>sim</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>1</integer>
				<key>brasileiro</key>
				<integer>2</integer>
				<key>paulista</key>
				<integer>1</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>imageGrande</key>
				<string>rincong.ong</string>
				<key>numeroCamisa</key>
				<string>15</string>
				<key>imagePequena</key>
				<string>rinconp.png</string>
				<key>nomeIdolo</key>
				<string>Freddy Eusébio G. Rincón Valencia</string>
				<key>apelidoIdolo</key>
				<string>Rincón</string>
				<key>idadeIdolo</key>
				<string>14/08/1966</string>
				<key>alturaIdolo</key>
				<string>1,85</string>
				<key>alfaTime</key>
				<string>1997-2000/2004</string>
				<key>jogosIdolo</key>
				<string>57</string>
				<key>golsIdolo</key>
				<string>5</string>
				<key>nacionalidadeIdolo</key>
				<string>colombia.png</string>
				<key>posicaoIdolo</key>
				<string>Volante</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>sim</string>
				<key>MCIdolo</key>
				<string>sim</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>0</integer>
				<key>numeroCamisa</key>
				<string>10</string>
				<key>imageGrande</key>
				<string>rivelinog.png</string>
				<key>imagePequena</key>
				<string>rivelinop.png</string>
				<key>nomeIdolo</key>
				<string>Roberto Rivelino</string>
				<key>apelidoIdolo</key>
				<string>Rivelino</string>
				<key>idadeIdolo</key>
				<string>01/01/1946</string>
				<key>alturaIdolo</key>
				<string>1,75</string>
				<key>alfaTime</key>
				<string>1965-1974</string>
				<key>jogosIdolo</key>
				<string>474</string>
				<key>golsIdolo</key>
				<string>144</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>meioCampoEsquerda</string>
				<key>peIdolo</key>
				<string>canhoto</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>sim</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>sim</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>1</integer>
				<key>paulista</key>
				<integer>3</integer>
				<key>copaBrasil</key>
				<integer>1</integer>
				<key>imageGrande</key>
				<string>ronaldogoleirog.png</string>
				<key>imagePequena</key>
				<string>ronaldogoleirop.png</string>
				<key>numeroCamisa</key>
				<string>01</string>
				<key>nomeIdolo</key>
				<string>Ronaldo Soares Giovanelli</string>
				<key>alfaTime</key>
				<string>1987-1998</string>
				<key>idadeIdolo</key>
				<string>20/11/1967</string>
				<key>apelidoIdolo</key>
				<string>Ronaldo</string>
				<key>alturaIdolo</key>
				<string>1,87</string>
				<key>jogosIdolo</key>
				<string>602</string>
				<key>golsIdolo</key>
				<string>0</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Goleiro</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>sim</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>1</integer>
				<key>paulista</key>
				<integer>1</integer>
				<key>imageGrande</key>
				<string>ronaldog.png</string>
				<key>imagePequena</key>
				<string>ronaldop.png</string>
				<key>nomeIdolo</key>
				<string>Ronaldo Luís Nazário de Lima</string>
				<key>numeroCamisa</key>
				<string>09</string>
				<key>apelidoIdolo</key>
				<string>Ronaldo</string>
				<key>idadeIdolo</key>
				<string>22/09/1976</string>
				<key>alfaTime</key>
				<string>2009-presente</string>
				<key>alturaIdolo</key>
				<string>1,83</string>
				<key>jogosIdolo</key>
				<string>17</string>
				<key>golsIdolo</key>
				<string>11</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Atacante</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>sim</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>nomeIdolo</key>
				<string>Valdemar Rodrigues Martins</string>
				<key>imageGrande</key>
				<string>orecog.png</string>
				<key>imagePequena</key>
				<string>orecop.png</string>
				<key>numeroCamisa</key>
				<string>08</string>
				<key>idadeIdolo</key>
				<string>13/06/1932</string>
				<key>apelidoIdolo</key>
				<string>Oreco</string>
				<key>alfaTime</key>
				<string>1957-1965</string>
				<key>alturaIdolo</key>
				<string>1,70</string>
				<key>jogosIdolo</key>
				<string>408</string>
				<key>golsIdolo</key>
				<string>3</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Lateral-Esquerdo</string>
				<key>peIdolo</key>
				<string>canhoto</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>sim</string>
				<key>LDIdolo</key>
				<string>sim</string>
				<key>LEIdolo</key>
				<string>sim</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>imageGrande</key>
				<string>serviliog.png</string>
				<key>numeroCamisa</key>
				<string>n/a</string>
				<key>imagePequena</key>
				<string>serviliop.png</string>
				<key>nomeIdolo</key>
				<string>Servílio de Jesus Filho</string>
				<key>apelidoIdolo</key>
				<string>Servílio</string>
				<key>idadeIdolo</key>
				<string>15/10/1939</string>
				<key>alturaIdolo</key>
				<string>1,84</string>
				<key>jogosIdolo</key>
				<string>36</string>
				<key>alfaTime</key>
				<string>1969-1971</string>
				<key>golsIdolo</key>
				<string>3</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>atacante</string>
				<key>peIdolo</key>
				<string>canhoto</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>sim</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>3</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>numeroCamisa</key>
				<string>08</string>
				<key>imageGrande</key>
				<string>socratesg.png</string>
				<key>imagePequena</key>
				<string>socratesp.png</string>
				<key>nomeIdolo</key>
				<string>Sócrates Brasileiro Sampaio de S. V. O.</string>
				<key>idadeIdolo</key>
				<string>19/02/1954</string>
				<key>alturaIdolo</key>
				<string>1,92</string>
				<key>apelidoIdolo</key>
				<string>Dr. Sócrates</string>
				<key>alfaTime</key>
				<string>1978-1984</string>
				<key>jogosIdolo</key>
				<string>297</string>
				<key>golsIdolo</key>
				<string>172</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>meioCampo</string>
				<key>peIdolo</key>
				<string>canhoto</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>sim</string>
				<key>MDIdolo</key>
				<string>sim</string>
				<key>MEIdolo</key>
				<string>sim</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>4</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>numeroCamisa</key>
				<string>n/a</string>
				<key>imageGrande</key>
				<string>telecog.png</string>
				<key>imagePequena</key>
				<string>telecop.png</string>
				<key>nomeIdolo</key>
				<string>Uriel Fernandes</string>
				<key>alfaTime</key>
				<string>acolocar</string>
				<key>idadeIdolo</key>
				<string>12/11/1912</string>
				<key>apelidoIdolo</key>
				<string>Teleco</string>
				<key>alturaIdolo</key>
				<string>n/a</string>
				<key>jogosIdolo</key>
				<string>251</string>
				<key>golsIdolo</key>
				<string>246</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>atacante</string>
				<key>peIdolo</key>
				<string>canhoto</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>sim</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>1</integer>
				<key>paulista</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>numeroCamisa</key>
				<string>10</string>
				<key>nomeIdolo</key>
				<string>Carlos Alberto Tevez</string>
				<key>imageGrande</key>
				<string>tevezg.png</string>
				<key>imagePequena</key>
				<string>tevezp.png</string>
				<key>apelidoIdolo</key>
				<string>Tevez</string>
				<key>idadeIdolo</key>
				<string>05/02/1984</string>
				<key>alturaIdolo</key>
				<string>1,73</string>
				<key>jogosIdolo</key>
				<string>53</string>
				<key>alfaTime</key>
				<string>2005-2006</string>
				<key>golsIdolo</key>
				<string>31</string>
				<key>nacionalidadeIdolo</key>
				<string>argentina.png</string>
				<key>posicaoIdolo</key>
				<string>Atacante</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>sim</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>1</integer>
				<key>copaBrasil</key>
				<integer>1</integer>
				<key>paulista</key>
				<integer>2</integer>
				<key>brasileiro</key>
				<integer>2</integer>
				<key>imageGrande</key>
				<string>vampetag.png</string>
				<key>imagePequena</key>
				<string>vampetap.png</string>
				<key>numeroCamisa</key>
				<string>05</string>
				<key>nomeIdolo</key>
				<string>Marcos Antônio Batista dos Santos</string>
				<key>idadeIdolo</key>
				<string>13/03/1974</string>
				<key>alturaIdolo</key>
				<string>1,82</string>
				<key>alfaTime</key>
				<string>1998-2000/2002-2003</string>
				<key>apelidoIdolo</key>
				<string>Vampeta</string>
				<key>jogosIdolo</key>
				<string>248</string>
				<key>golsIdolo</key>
				<string>17</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Volante</string>
				<key>peIdolo</key>
				<string>destro</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>sim</string>
				<key>MCIdolo</key>
				<string>sim</string>
				<key>MDIdolo</key>
				<string>sim</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>1</integer>
				<key>paulista</key>
				<integer>2</integer>
				<key>numeroCamisa</key>
				<string>09</string>
				<key>imageGrande</key>
				<string>violag.png</string>
				<key>imagePequena</key>
				<string>violap.png</string>
				<key>nomeIdolo</key>
				<string>Paulo Sérgio Rosa</string>
				<key>apelidoIdolo</key>
				<string>Viola</string>
				<key>alfaTime</key>
				<string>acolocar</string>
				<key>idadeIdolo</key>
				<string>01/01/1969</string>
				<key>alturaIdolo</key>
				<string>1,78</string>
				<key>jogosIdolo</key>
				<string>71</string>
				<key>golsIdolo</key>
				<string>14</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Atacante</string>
				<key>peIdolo</key>
				<string>canhoto</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>nao</string>
				<key>LEIdolo</key>
				<string>nao</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>sim</string>
				<key>PLIdolo</key>
				<string>sim</string>
			</dict>
			<dict>
				<key>mundial</key>
				<integer>0</integer>
				<key>brasileiro</key>
				<integer>0</integer>
				<key>copaBrasil</key>
				<integer>0</integer>
				<key>paulista</key>
				<integer>4</integer>
				<key>imageGrande</key>
				<string>zemariag.png</string>
				<key>numeroCamisa</key>
				<string>02</string>
				<key>imagePequena</key>
				<string>zemariap.png</string>
				<key>nomeIdolo</key>
				<string>José Maria Rodrigues Alves</string>
				<key>apelidoIdolo</key>
				<string>Ze Maria</string>
				<key>idadeIdolo</key>
				<string>18/05/1949</string>
				<key>alturaIdolo</key>
				<string>n/a</string>
				<key>alfaTime</key>
				<string>1971-1983</string>
				<key>jogosIdolo</key>
				<string>174</string>
				<key>golsIdolo</key>
				<string>2</string>
				<key>nacionalidadeIdolo</key>
				<string>brasil.png</string>
				<key>posicaoIdolo</key>
				<string>Lateral-Esquerdo</string>
				<key>peIdolo</key>
				<string>canhoto</string>
				<key>GLIdolo</key>
				<string>nao</string>
				<key>ZGIdolo</key>
				<string>nao</string>
				<key>LDIdolo</key>
				<string>sim</string>
				<key>LEIdolo</key>
				<string>sim</string>
				<key>VLIdolo</key>
				<string>nao</string>
				<key>MCIdolo</key>
				<string>nao</string>
				<key>MDIdolo</key>
				<string>nao</string>
				<key>MEIdolo</key>
				<string>nao</string>
				<key>ATIdolo</key>
				<string>nao</string>
				<key>PLIdolo</key>
				<string>nao</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
